[submodule "process_persistence/gem5"]
	path = process_persistence/gem5
	url = https://github.com/arunkp1986/gem5.git
[submodule "ssp/gem5_vanilla"]
	path = ssp/gem5_vanilla
	url = https://github.com/arunkp1986/gem5.git
